body{
    background-image:url(../img/fond.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.menu{
	background-color: rgb(250, 186, 186);
  
}
.titre {
    padding-bottom: 10px;
    display:flex;
    font-weight: bold;
    
}
.logo{
  padding-left: 10px;
  max-width: 25%;
  width : 15%;
  
    
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0)
}
a:hover{
    color: rgb(255, 255, 255);
}
.slide{
    padding-left:30% ;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.icon{
    text-align: right;
    color: rgb(0, 0, 0);
}
.icon i{
    margin: 10px;
    
    
}

.sousmenu{
    text-align: left;
    display: none;
    position: absolute;
    background-color: rgb(250, 186, 186);
    width: 200px;
    
}
.sous_menu{
	background-color : #FB9D9D;
}

li{
    list-style-type: none;
}
nav>ul>li:hover .sousmenu{
    display: block;
    }
nav>ul>li{
        display: inline-block;
        position: relative
    }

.tra li{
        padding-left:80px;    
    }


.container article{
    display: inline-block;
}




footer{
        background-color: rgb(206, 89, 171);
        
        
    }  

footer article
    { 
        padding-left: 100px;
        padding-right: 110px;
        padding-bottom: 20px;
        text-align: left;
        display: inline-block;
        vertical-align: top;
        color: rgb(0, 0, 0);
        
    }

header {
  background: rgb(250, 186, 186);
  height: 170px;
}

header * {
  color: black;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 9px;
  font-family: 'Candal', serif;
}

header .logo-text span {
  color: #05f7ff;
}

header ul {
  float: center-right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
  display: none;
  z-index: 88888;
}

header ul li:hover ul {
  display: block;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 10px;
  background: white;
  color: #444;
}

header ul li ul li a.logout {
  color: red;
}

header ul li ul li a:hover {
  background: red;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background: red;
  transition: 0.5s;
}

header .menu-toggle {
  display: none;
}

.page-wrapper {
  min-height: 100%;
}

.page-wrapper a:hover {
  color: #006669;
}





* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 650px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
select[type=text]{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}



hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}